@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Drive</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Drive</h2>
        <p>
            Drive is a sample application 
            which intent is learning some basics concepts in process of developing an web app in C# (ASP NET MVC & EF).
        </p>
  </div> 
</div>